# 1. Keras Deep Learning (DL) Neural Network (NN)

### A. Upload CSV File with COVID-19 Data ...

In [1]:
import pandas as pd

In [2]:
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3


df_data_1 = pd.read_csv(body)
df_data_1.head()

,id,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,...,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
0,16169f,2,1,04-05-2020,02-05-2020,9999-99-99,97,2,27,97,...,2,2,2,2,2,2,2,2,1,97
1,1009bf,2,1,19-03-2020,17-03-2020,9999-99-99,97,2,24,97,...,2,2,2,2,2,2,2,99,1,97
2,167386,1,2,06-04-2020,01-04-2020,9999-99-99,2,2,54,2,...,2,2,2,2,1,2,2,99,1,2
3,0b5948,2,2,17-04-2020,10-04-2020,9999-99-99,2,1,30,97,...,2,2,2,2,2,2,2,99,1,2
4,0d01b5,1,2,13-04-2020,13-04-2020,22-04-2020,2,2,60,2,...,2,1,2,1,2,2,2,99,1,2

In [3]:
covidPDF = df_data_1

In [57]:
covidPDF.head(3)

,id,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,...,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
0,16169f,2,1,04-05-2020,02-05-2020,9999-99-99,97,2,27,97,...,2,2,2,2,2,2,2,2,1,97
1,1009bf,2,1,19-03-2020,17-03-2020,9999-99-99,97,2,24,97,...,2,2,2,2,2,2,2,99,1,97
2,167386,1,2,06-04-2020,01-04-2020,9999-99-99,2,2,54,2,...,2,2,2,2,1,2,2,99,1,2

In [5]:
covidPDF.shape

(566602, 23)

### B. Strip Column Names of Extra White Spaces (Front and Back)

In [4]:
covidPDF.columns.str.strip()

Index(['id', 'sex', 'patient_type', 'entry_date', 'date_symptoms', 'date_died',
       'intubed', 'pneumonia', 'age', 'pregnancy', 'diabetes', 'copd',
       'asthma', 'inmsupr', 'hypertension', 'other_disease', 'cardiovascular',
       'obesity', 'renal_chronic', 'tobacco', 'contact_other_covid',
       'covid_res', 'icu'],
      dtype='object')

### C. Drop Columns with Date and ID Data

In [5]:
covidPDF.drop(['entry_date','id','date_symptoms','date_died'],axis = 1, inplace = True)

In [61]:
COLS = covidPDF.columns

In [62]:
COLS = list(COLS)

### D. Look at Count Values for All Columns

In [12]:
for i in range(len(COLS)):
    print(covidPDF.iloc[:,i].value_counts())

2    287112
1    279490
Name: sex, dtype: int64
1    444689
2    121913
Name: patient_type, dtype: int64
97    444689
2     111824
1       9965
99       124
Name: intubed, dtype: int64
2     478416
1      88175
99        11
Name: pneumonia, dtype: int64
30     14604
31     13911
36     13890
38     13847
37     13836
34     13679
32     13631
35     13619
33     13472
29     13411
28     13402
40     13326
39     13287
27     12815
46     12722
41     12606
42     12591
43     12576
45     12522
44     12448
47     12384
48     12130
26     11941
49     11500
50     11228
51     10702
25     10589
52     10426
53      9653
54      9053
       ...
90       519
91       339
92       272
93       217
95       170
94       161
96       114
97        83
98        68
99        56
100       42
101       17
102       16
103        9
120        7
104        7
109        5
110        3
108        3
106        3
114        2
113        2
107        2
119        2
105        2
118        1
117        1
116        1
115        1
111        1
Name: age, Length: 120, dtype: int64
97    287112
2     273840
1       4063
98      1587
Name: pregnancy, dtype: int64
2     493790
1      70831
98      1981
Name: diabetes, dtype: int64
2     555723
1       9130
98      1749
Name: copd, dtype: int64
2     546824
1      18026
98      1752
Name: asthma, dtype: int64
2     555644
1       8978
98      1980
Name: inmsupr, dtype: int64
2     472270
1      92508
98      1824
Name: hypertension, dtype: int64
2     546920
1      17084
98      2598
Name: other_disease, dtype: int64
2     552005
1      12775
98      1822
Name: cardiovascular, dtype: int64
2     472549
1      92272
98      1781
Name: obesity, dtype: int64
2     553560
1      11250
98      1792
Name: renal_chronic, dtype: int64
2     516678
1      48017
98      1907
Name: tobacco, dtype: int64
1     221867
99    175031
2     169704
Name: contact_other_covid, dtype: int64
2    279035
1    220657
3     66910
Name: covid_res, dtype: int64
97    444689
2     111676
1      10112
99       125
Name: icu, dtype: int64

### E. Drop Columns with Largely Incomplete Data

In [6]:
covidPDF.drop(['intubed'],axis = 1, inplace = True)

In [7]:
covidPDF.drop(['icu'],axis = 1, inplace = True)

In [8]:
covidPDF.drop(['contact_other_covid'],axis = 1, inplace = True)

In [9]:
covidPDF.drop(['pregnancy'],axis = 1, inplace = True)

In [10]:
covidPDF.shape

(566602, 15)

In [91]:
covidPDF.columns

Index(['sex', 'patient_type', 'pneumonia', 'age', 'diabetes', 'copd', 'asthma',
       'inmsupr', 'hypertension', 'other_disease', 'cardiovascular', 'obesity',
       'renal_chronic', 'tobacco', 'covid_res'],
      dtype='object')

### F. Clean Column Data for Missing or Null Values

In [11]:
covidPDF = covidPDF[covidPDF['patient_type']<90]

In [12]:
covidPDF = covidPDF[covidPDF['age'] <= 85]

In [13]:
covidPDF = covidPDF[covidPDF['pneumonia']<90]

In [14]:
covidPDF = covidPDF[covidPDF['diabetes']<90]

In [15]:
covidPDF = covidPDF[covidPDF['copd']<90]

In [16]:
covidPDF = covidPDF[covidPDF['asthma']<90]

In [17]:
covidPDF = covidPDF[covidPDF['inmsupr']<90]

In [18]:
covidPDF = covidPDF[covidPDF['hypertension']<90]

In [19]:
covidPDF = covidPDF[covidPDF['other_disease']<90]

In [20]:
covidPDF = covidPDF[covidPDF['cardiovascular']<90]

In [21]:
covidPDF = covidPDF[covidPDF['diabetes']<90]

In [22]:
covidPDF = covidPDF[covidPDF['obesity']<90]

In [23]:
covidPDF = covidPDF[covidPDF['renal_chronic']<90]

In [24]:
covidPDF = covidPDF[covidPDF['tobacco']<90]

In [25]:
covidPDF.shape

(557819, 15)

In [107]:
covidPDF.head()

,sex,patient_type,pneumonia,age,diabetes,copd,asthma,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,covid_res
0,2,1,2,27,2,2,2,2,2,2,2,2,2,2,1
1,2,1,2,24,2,2,2,2,2,2,2,2,2,2,1
2,1,2,2,54,2,2,2,2,2,2,2,1,2,2,1
3,2,2,1,30,2,2,2,2,2,2,2,2,2,2,1
4,1,2,2,60,1,2,2,2,1,2,1,2,2,2,1

#### Changing all feature values to binary (0,1)

In [24]:
BINCOLS = covidPDF.columns[0:3]
BINCOLS = list(BINCOLS)
BINCOLS2 = covidPDF.columns[4:-1]
BINCOLS2 = list(BINCOLS2)
BINCOLS3 = BINCOLS + BINCOLS2
BINCOLS3

['sex',
 'patient_type',
 'pneumonia',
 'diabetes',
 'copd',
 'asthma',
 'inmsupr',
 'hypertension',
 'other_disease',
 'cardiovascular',
 'obesity',
 'renal_chronic',
 'tobacco']

In [109]:
for row in BINCOLS3:
    covidPDF[row].replace(1,0,inplace=True)

In [110]:
for row in BINCOLS3:
    covidPDF[row].replace(2,1,inplace=True)

#### In Label Column change 1, 2, 3 to 0, 1, 2 ...

In [26]:
covidPDF.iloc[:,-1].replace(1,0,inplace=True)

In [27]:
covidPDF.iloc[:,-1].replace(2,1,inplace=True)

In [28]:
covidPDF.iloc[:,-1].replace(3,2,inplace=True)

In [29]:
covidPDF.iloc[:,-1].value_counts()

1    275135
0    216916
2     65768
Name: covid_res, dtype: int64

### G. Using Apache Spark ML to Upload Data

In [30]:
from IPython.display import Markdown, display
def printmd(string):
    display(Markdown('# <span style="color:green">'+string+'</span>'))


if ('sc' in locals() or 'sc' in globals()):
    printmd('<<<<<!!!!! It seems that you are running in a IBM Watson Studio Apache Spark Notebook. Please run it in an IBM Watson Studio Default Runtime (without Apache Spark) !!!!!>>>>>')
else:
    printmd("All is Fine -- Proceed!")

# <span style="color:green">All is Fine -- Proceed!</span>

In [31]:
!pip install pyspark==2.4.5

Collecting pyspark==2.4.5
  Downloading https://files.pythonhosted.org/packages/9a/5a/271c416c1c2185b6cb0151b29a91fff6fcaed80173c8584ff6d20e46b465/pyspark-2.4.5.tar.gz (217.8MB)
     |████████████████████████████████| 217.8MB 47.5MB/s eta 0:00:01
Collecting py4j==0.10.7 (from pyspark==2.4.5)
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 30.4MB/s eta 0:00:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Stored in directory: /home/dsxuser/.cache/pip/wheels/bf/db/04/61d66a5939364e756eb1c1be4ec5bdce6e04047fc7929a3c3c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.5

In [32]:
try:
    from pyspark import SparkContext, SparkConf
    from pyspark.sql import SparkSession
    printmd("All Libraries Imported OK")
except ImportError as e:
    printmd('<<<<<!!!!! Please restart your kernel after installing Apache Spark !!!!!>>>>>')

# <span style="color:green">All Libraries Imported OK</span>

In [33]:
sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))

spark = SparkSession \
    .builder \
    .getOrCreate()

In [34]:
#covidPDF['age'] = (covidPDF['age']-covidPDF['age'].mean())/covidPDF['age'].std()
covidPDF['age'] /= covidPDF['age'].max()

In [35]:
covidPDF['age'].mean()

0.4961956561283277

### H. Set Up Spark Data Frame

In [36]:
covidSDF = spark.createDataFrame(covidPDF)

In [37]:
len(covidSDF.columns)

15

In [40]:
#Dimensions of covid spark dataframe

XDIM, YDIM = covidSDF.count(), len(covidSDF.columns)

In [41]:
print("Dimensions are %.d x %.d" % (XDIM,YDIM))

Dimensions are 557819 x 15

In [119]:
covidSDF.columns

['sex',
 'patient_type',
 'pneumonia',
 'age',
 'diabetes',
 'copd',
 'asthma',
 'inmsupr',
 'hypertension',
 'other_disease',
 'cardiovascular',
 'obesity',
 'renal_chronic',
 'tobacco',
 'covid_res']

### I. Keras Deep Learning (DL) Model for Multi-Classification

### Using Deep Feedforward (DFF) Neural Networks on Keras Platform having backend TensorFlow, we apply Activation Function RELU and output functions SIGMOID and SOFTMAX. The optimizer is Adaptive Moment Estimation (ADAM), loss functions are CATEGORICAL CROSSENTROPY while the metric is ACCURACY.

### (a) Using Keras Sequential Model with TensorFlow Backend

In [39]:
import numpy as np

from tensorflow.keras.models import Sequential

from tensorflow.keras.layers import Dense, Dropout

from tensorflow.keras.utils import to_categorical

In [65]:
covidSDF = covidSDF.sample(0.1)

In [66]:
TEST_FRACTION = 0.8
TRAIN_FRACTION = 1 - TEST_FRACTION
SPLITS = covidSDF.randomSplit([TEST_FRACTION, TRAIN_FRACTION])

In [67]:
covidSDF_Train = SPLITS[0]
covidSDF_Test = SPLITS[1]

In [68]:
covidSDF_Xtrain = np.array(covidSDF_Train.rdd.map(lambda Row : Row[0:-1]).collect())
covidSDF_Ytrain = np.array(covidSDF_Train.rdd.map(lambda Row : Row[-1]).collect())
covidSDF_Xtest = np.array(covidSDF_Test.rdd.map(lambda Row : Row[0:-1]).collect())
covidSDF_Ytest = np.array(covidSDF_Test.rdd.map(lambda Row : Row[-1]).collect())

In [69]:
LENGTH = len(covidSDF.columns)
batch_size = 250
num_classes = 3
epochs = 10

In [70]:
LENGTH

15

In [134]:
model = Sequential()

In [135]:
model.add(Dense(256, activation = 'relu', input_shape = (LENGTH-1,)))
model.add(Dropout (0.5))
model.add(Dense(num_classes, activation = 'softmax'))

In [144]:
model.compile(loss = 'sparse_categorical_crossentropy', optimizer = 'sgd', metrics = ['accuracy'])

In [145]:
model.fit(covidSDF_Xtrain, covidSDF_Ytrain, batch_size = batch_size, epochs = epochs, validation_data = (covidSDF_Xtest,covidSDF_Ytest))

Train on 44522 samples, validate on 11061 samples
Epoch 1/10
44522/44522 [==============================] - 155s 3ms/sample - loss: 0.9709 - acc: 0.5165 - val_loss: 0.9609 - val_acc: 0.5360
Epoch 2/10
44522/44522 [==============================] - 156s 3ms/sample - loss: 0.9587 - acc: 0.5277 - val_loss: 0.9728 - val_acc: 0.4994
Epoch 3/10
44522/44522 [==============================] - 157s 4ms/sample - loss: 0.9562 - acc: 0.5282 - val_loss: 0.9575 - val_acc: 0.5365
Epoch 4/10
44522/44522 [==============================] - 152s 3ms/sample - loss: 0.9544 - acc: 0.5287 - val_loss: 0.9863 - val_acc: 0.5383
Epoch 5/10
44522/44522 [==============================] - 153s 3ms/sample - loss: 0.9535 - acc: 0.5330 - val_loss: 0.9709 - val_acc: 0.4867
Epoch 6/10
44522/44522 [==============================] - 154s 3ms/sample - loss: 0.9532 - acc: 0.5305 - val_loss: 0.9842 - val_acc: 0.4860
Epoch 7/10
44522/44522 [==============================] - 156s 4ms/sample - loss: 0.9534 - acc: 0.5317 - val_loss: 0.9565 - val_acc: 0.5373
Epoch 8/10
44522/44522 [==============================] - 153s 3ms/sample - loss: 0.9518 - acc: 0.5325 - val_loss: 1.0110 - val_acc: 0.4860
Epoch 9/10
44522/44522 [==============================] - 157s 4ms/sample - loss: 0.9533 - acc: 0.5317 - val_loss: 0.9653 - val_acc: 0.5049
Epoch 10/10
44522/44522 [==============================] - 159s 4ms/sample - loss: 0.9527 - acc: 0.5325 - val_loss: 0.9758 - val_acc: 0.4826

In [146]:
score = model.evaluate(covidSDF_Xtest, covidSDF_Ytest, verbose = 1)

11061/11061 [==============================] - 132s 12ms/sample - loss: 0.9758 - acc: 0.4826

In [124]:
print("Loss Score = %.4f" % score[0])
print("Accuracy Score = %.4f" % score[1])

Loss Score = 0.9462
Accuracy Score = 0.5446

### (b) Using Keras Non-Sequential Model with TensorFlow Backend

In [58]:
import numpy as np

from tensorflow.keras.models import Model

from tensorflow.keras.layers import Dense, Dropout, Input

from tensorflow.keras.utils import to_categorical

In [44]:
covidSDF = covidSDF.sample(0.2)

In [45]:
TEST_FRACTION = 0.8
TRAIN_FRACTION = 1 - TEST_FRACTION
SPLITS = covidSDF.randomSplit([TEST_FRACTION, TRAIN_FRACTION])

In [46]:
covidSDF_Train = SPLITS[0]
covidSDF_Test = SPLITS[1]

In [47]:
covidSDF_Train.count()

89478

In [48]:
covidSDF_Test.count()

22299

In [49]:
covidSDF_Xtrain = np.array(covidSDF_Train.rdd.map(lambda Row : Row[0:-1]).collect())
covidSDF_Ytrain = np.array(covidSDF_Train.rdd.map(lambda Row : Row[-1]).collect())
covidSDF_Xtest = np.array(covidSDF_Test.rdd.map(lambda Row : Row[0:-1]).collect())
covidSDF_Ytest = np.array(covidSDF_Test.rdd.map(lambda Row : Row[-1]).collect())

In [50]:
LENGTH = len(covidSDF.columns)
batch_size = 500
num_classes = 3
epochs = 10

In [51]:
inputs = Input(shape = (LENGTH-1,))

In [52]:
x = Dense(256, activation = 'relu')(inputs)

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [53]:
x = Dense(256, activation = 'relu')(x)

In [54]:
predictions = Dense(num_classes, activation = 'sigmoid')(x)

In [55]:
model = Model(inputs = inputs, outputs = predictions)

In [56]:
model.compile(loss = 'categorical_crossentropy', optimizer = 'sgd', metrics = ['accuracy'])

In [59]:
covidSDF_Ytrain = to_categorical(covidSDF_Ytrain)
covidSDF_Ytest = to_categorical(covidSDF_Ytest)

In [60]:
model.fit(covidSDF_Xtrain, covidSDF_Ytrain, batch_size = batch_size, epochs = epochs, validation_data = (covidSDF_Xtest,covidSDF_Ytest))

Train on 89478 samples, validate on 22299 samples
WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/10
89478/89478 [==============================] - 192s 2ms/sample - loss: 0.9760 - acc: 0.4923 - val_loss: 0.9626 - val_acc: 0.4909
Epoch 2/10
89478/89478 [==============================] - 191s 2ms/sample - loss: 0.9636 - acc: 0.4922 - val_loss: 0.9584 - val_acc: 0.4909
Epoch 3/10
89478/89478 [==============================] - 193s 2ms/sample - loss: 0.9595 - acc: 0.5067 - val_loss: 0.9538 - val_acc: 0.5342
Epoch 4/10
89478/89478 [==============================] - 192s 2ms/sample - loss: 0.9545 - acc: 0.5385 - val_loss: 0.9479 - val_acc: 0.5459
Epoch 5/10
89478/89478 [==============================] - 192s 2ms/sample - loss: 0.9494 - acc: 0.5470 - val_loss: 0.9426 - val_acc: 0.5530
Epoch 6/10
89478/89478 [==============================] - 190s 2ms/sample - loss: 0.9455 - acc: 0.5507 - val_loss: 0.9392 - val_acc: 0.5559
Epoch 7/10
89478/89478 [==============================] - 189s 2ms/sample - loss: 0.9432 - acc: 0.5501 - val_loss: 0.9373 - val_acc: 0.5547
Epoch 8/10
89478/89478 [==============================] - 195s 2ms/sample - loss: 0.9423 - acc: 0.5501 - val_loss: 0.9371 - val_acc: 0.5563
Epoch 9/10
89478/89478 [==============================] - 195s 2ms/sample - loss: 0.9416 - acc: 0.5509 - val_loss: 0.9358 - val_acc: 0.5564
Epoch 10/10
89478/89478 [==============================] - 196s 2ms/sample - loss: 0.9411 - acc: 0.5513 - val_loss: 0.9354 - val_acc: 0.5563

In [61]:
score = model.evaluate(covidSDF_Xtest, covidSDF_Ytest, verbose = 1)

22299/22299 [==============================] - 272s 12ms/sample - loss: 0.9354 - acc: 0.5563

In [62]:
print("Loss Score = %.4f" % score[0])
print("Accuracy Score = %.4f" % score[1])

Loss Score = 0.9354
Accuracy Score = 0.5563